{% extends "account/base.html" %}
{% load crispy_forms_filters %}

{% load account socialaccount %}

{% block title %}Вход{% endblock %}

{% block account_content %}

    <h1>Вход</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>Войдите с помощью предложенных методов, либо
            <a href="{{ signup_url }}">зарегистрируйтесь</a>
            и войдите:</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">или</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
        <p>Если вы ещё не создали аккаунт, то сперва
            <a href="{{ signup_url }}">зарегистрируйтесь</a>.</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Забыли пароль</a>
        <br>
        <button class="btn btn-primary" type="submit">Вход</button>
    </form>

{% endblock %}