{% extends "account/base.html" %}
{% load crispy_forms_filters %}

{% load account %}

{% block title %}Сбросить пароль{% endblock %}

{% block account_content %}

    <h1>Сбросить пароль</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Забыли ваш пароль? Введите ваш email в поле ниже и мы отправим вам письмо с дальнейшими инструкциями.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input class="btn btn-primary" type="submit" value="Сбросить пароль"/>
    </form>

    <p>Если у вас возникли проблемы со сбросом пароля, то свяжитесь с нами.</p>
{% endblock %}