{% extends "account/base.html" %}


{% block head_title %}Изменить пароль{% endblock %}

{% block account_content %}
    <h1>{% if token_fail %}Неверный токен{% else %}Изменить пароль{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>Ссылка недействительна, поскольку уже была использована. Запросите <a href="{{ passwd_reset_url }}"> новый
            сброс пароля</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="Изменить пароль"/>
            </form>
        {% else %}
            <p>Ваш пароль был изменён</p>
        {% endif %}
    {% endif %}
{% endblock %}