{% extends "account/base.html" %}
{% load crispy_forms_filters %}


{% block title %}Изменить пароль{% endblock %}

{% block account_content %}
    <h1>Изменить пароль</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button class="btn btn-primary" type="submit" name="action">Изменить пароль</button>
        <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
    </form>
{% endblock %}