{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}Ваши заявки{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            {% for application in application_list %}
                <div class="card order-card">
                    <div class="card-header">
                        <h4>Заявка №{{ application.pk }}</h4>
                    </div>
                    <div class="row card-body">
                        <div class="col-1">
                            <p><span class="material-icons">business</span></p>
                        </div>
                        <div class="col-11">
                            <p><b>Компания: </b>{{ application.sending.company }}</p>
                        </div>
                        <hr>
                        <div class="col-1">
                            <p><span class="material-icons">schedule</span></p>
                        </div>
                        <div class="col-5"><p><b>Дата отправления: </b>{{ application.sending.departure_date }}</p>
                        </div>
                        <div class="col-1">
                            <p><span class="material-icons">arrow_forward</span></p>
                        </div>
                        <div class="col-5"><p><b>Дата прибытия: </b>{{ application.sending.arrival_date }}</p></div>
                        <hr>
                        <div class="col-1">
                            <p><span class="material-icons">check</span></p>
                            <p><span class="material-icons">attach_money</span></p>
                        </div>

                        <div class="col-5">
                            <p><b>Статус: </b><span
                                    class="badge
                                    {% if application.status == 'CONF' %}
                                        bg-success
                                    {% elif application.status == 'DECL' %}
                                        bg-danger
                                    {% elif application.status == 'WAIT' %}
                                        bg-warning
                                    {% endif %}
                                ">{{ application.get_status_display }}</span>

                            <p><b>Стоимость: </b>{{ application.price }} руб.</p>
                        </div>
                        <hr>
                        <p><a class="btn btn-outline-primary"
                              href="{% url 'main:ordersendings' application.order.pk %}"><b>Перейти
                            к заказу</b></a>
                            <a class="btn btn-outline-danger"
                               href="{% url 'main:deleteapplication' application.pk %}"><b>Удалить
                                заявку</b></a>
                        </p>
                    </div>
                </div>
            {% endfor %}
            <ul class="pagination">


                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">в начало</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page == page_obj.number %}
                        <b class="page-link">{{ page }} </b>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.paginator.num_pages }}">в конец</a></li>
                {% endif %}


            </ul>
        </div>
    </div>
{% endblock %}