{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}Список компаний{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            {% for company in company_list %}
                <h3>{{ company.name }}</h3>
                <p>{{ company.info }}</p>
                <p><a class="btn btn-primary" href="{% url 'main:company_detail' company.pk %}">Подробнее</a></p>
                <hr>
            {% endfor %}
            <ul class="pagination">


                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">в начало</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page == page_obj.number %}
                        <b class="page-link">{{ page }} </b>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.paginator.num_pages }}">в конец</a></li>
                {% endif %}


            </ul>
        </div>
    </div>
{% endblock %}