{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}CargoDelivery{% endblock %}

{% block content %}

    <main role="main" class="container-fluid landing">
        <div class="start-img-container">
            <img src="../../static/img/landing_pic.png" class="card-img-top start-img" alt="">
            <h1 class="">CargoDevilery - сервис для подбора грузоперевозчиков</h1>
        </div>
        <div class="container">
            <br>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">AAAA </h2>
                    <p class="lead">AAAAAAAAA</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src=""
                         alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">BBBBB</h2>
                    <p class="lead">BBBBBBBBBB</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src=""
                         alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">CCCCCCC</h2>
                    <p class="lead">CCCCCCCCCCCCCCCCC</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src=""
                         alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

        </div>
    </main>


{% endblock %}


