{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}CargoDelivery{% endblock %}

{% block content %}

    <main role="main" class="container-fluid landing">
        <div class="start-img-container">
            <img src="../../static/img/boyad.jpg" class="card-img-top start-img"  height="400" alt="">
            <h1 class="">CargoDevilery - codso oo hel isla maalintaba</h1>
        </div>
        <div class="container">
            <br>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">ku : macaamisha</h2>
                    <p class="lead">macmiil waxa ku balan qaadaya waxa dalbatay inay sidooda kusoo gaadan </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="../../static/img/berbera.jpg"
                         alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">ku : shirkadaha </h2>
                    <p class="lead">waxa si fudud uga heli karta shirkadeena waxa dalbato mcmiin</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" src="../../static/img/then.jpg"
                         alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

        </div>
    </main>


{% endblock %}


