{% extends 'base.html' %}
{% load auth_extras %}
{% load mathfilters %}

{% block title %}Отправления к заказу{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            {% if request.user == object.user %}
                <h3>Заказ {{ order.pk }}</h3>
                <p>Из: {{ order.departure_warehouse }} {{ order.sender_fullname }}</p>
                <p>В: {{ order.arrival_warehouse }} {{ order.recipient_fullname }}</p>
                <p>Тип груза: {{ order.get_cargo_type_display }}</p>
                <p>Размеры: {{ order.cargo_len }}см x {{ order.cargo_width }}см x {{ order.cargo_depth }}см
                    ({{ order.cargo_volume }} м<sup>3</sup>)</p>
                {% if order.direct_take %}
                    <p>Забрать из: {{ order.direct_take_address }}</p>
                {% else %}
                    <p>Не забирать от отправителя</p>
                {% endif %}
                {% if order.direct_deliver %}
                    <p>Доставить в: {{ order.direct_deliver_address }}</p>
                {% else %}
                    <p>Не доставлять получателю</p>
                {% endif %}
                <p>Дата отправления: {{ order.departure_date }}</p>
                <p>Сумма страхования: {{ order.insurance_price }} RUB</p>
                <p>Дополнительная информация: {{ order.additional_info }} </p>

                <p><a class="btn btn-warning" href="{% url 'main:updateorder' order.pk %}">Обновить заказ</a>
                    <a class="btn btn-danger" href="{% url 'main:deleteorder' order.pk %}">Удалить заказ</a></p>
                <hr>
                {% if not application %}
                    <h4>Доступные отправления на вашу дату:</h4>
                    <ol>
                        {% for sending in sendings %}
                            {% if sending.free_volume > order.cargo_volume %}
                                <li><b>{{ sending.company }}</b>
                                    <br>
                                    Дата доставки: {{ sending.arrival_date }}
                                    <br>
                                    {{ sending.transport.get_transport_type_display }}
                                    <br>
                                    Свободное место: {{ sending.free_volume }} м<sup>3</sup>
                                    <br>
                                    Стоимость {{ order.cargo_volume|mul:sending.price_for_m3|floatformat:"2" }} руб.
                                    <br>
                                    <a class="btn btn-success"
                                       href="{% url 'main:addaplication' order.pk sending.pk %}">Выбрать
                                        отправление</a>
                                    <br><br>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <h4>Доступные отправления на ближайшие дни:</h4>
                    <ol>
                        {% for sending in near_sendings %}
                            {% if sending.free_volume > order.cargo_volume %}
                                <li><b>{{ sending.company }}</b>
                                    <br>
                                    Дата отправления: {{ sending.departure_date }}
                                    <br>
                                    Дата доставки: {{ sending.arrival_date }}
                                    <br>
                                    {{ sending.transport.get_transport_type_display }}
                                    <br>
                                    Свободное место: {{ sending.free_volume }} м<sup>3</sup>
                                    <br>
                                    Стоимость {{ order.cargo_volume|mul:sending.price_for_m3|floatformat:"2" }} руб.
                                    <br>
                                    <a class="btn btn-success"
                                       href="{% url 'main:addaplication' order.pk sending.pk %}">Выбрать
                                        отправление</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                {% else %}
                    <h5>У вас уже есть заявка на данный заказ</h5>
                    <br>
                    <p>{{ application.sending }}</p>
                    <p>{{ application.get_status_display }}</p>
                    <p>Стоимость: {{ application.price }} руб.</p>
                    <p><a class="btn btn-danger" href="{% url 'main:deleteapplication' application.pk %}">Удалить
                        заявку</a></p>
                {% endif %}
            {% else %}
                <p>Вы не можете просматривать данную информацию</p>
            {% endif %}
        </div>
    </div>
{% endblock %}