.landing {
    margin: 0;
    padding: 0;
}

.start-img-container {
    position: relative;
}

.start-img {
    margin: 0;
    width: 100%;
    border: 0;
    border-radius: 0;
    filter: brightness(50%);
}

h1 {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.order-card {
    border: 2px solid rgba(0, 0, 0, .125);
    margin-bottom: 40px;
    padding: 0;
}

.progress {
    padding: 0;
    height: 20px;
}

.top-margin{
    margin-top: 20px;
}