{% extends 'base.html' %}
{% load auth_extras %}
{% load crispy_forms_filters %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <br>
            <br>
            {% if request.user.workerprofile.company == object.company %}
                <p>Do you really want to delete sending
                    from <b>{{ sending.departure_warehouse }} to {{ sending.arrival_warehouse }} on
                        {{ sending.transport.get_transport_type_display }} with
                        number {{ sending.transport.number }} </b>?</p>
                <form method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            {% else %}
                <p>You are not allowed to do this</p>
            {% endif %}

        </div>
    </div>
{% endblock %}