{% extends 'base.html' %}
{% load auth_extras %}
{% load crispy_forms_filters %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <br>
            <br>
            {% if request.user.workerprofile.company == object.company %}
                <form method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type="submit" class="btn btn-warning" value="Редактировать">
                </form>
            {% else %}
                <p>У вас нет прав для этого действия</p>
            {% endif %}
        </div>
    </div>
{% endblock %}