{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}Заявки для компании{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <h3>Заявки для вашей компании</h3>
            {% for application in application_list %}
                <div class="card order-card">
                    <div class="row card-body">
                        <div class="col-1">
                            <p><span class="material-icons">description</span></p>
                            <p><span class="material-icons">local_shipping</span></p>
                            <p><span class="material-icons">attach_money</span></p>
                            <p><span class="material-icons">email</span></p>
                            <p><span class="material-icons">call</span></p>
                        </div>
                        <div class="col-11">
                            <p>
                                <a href="{% url 'company:detailordermanage' application.order.pk %}">{{ application.order }}</a>
                            </p>
                            <p><a href="{% url 'company:sendingdetail' application.sending.pk %}">
                                {{ application.sending }}
                            </a></p>
                            <p> Стоимость: {{ application.price }} руб.</p>
                            <p>Email заказчика: <a
                                    href="mailto:{{ application.order.user.email }}">{{ application.order.user.email }} </a>
                            </p>
                            <p>Телефон заказчика: {{ application.order.user.profile.phone }} </p>

                        </div>
                        {% if application.status == 'WAIT' %}
                            <div class="alert alert-warning" role="alert">
                                <p>Статус: {{ application.get_status_display }}</p>
                                <p>{{ application.info }}</p>
                            </div>
                        {% elif application.status == 'CONF' %}
                            <div class="alert alert-success" role="alert">
                                <p>Статус: {{ application.get_status_display }}</p>
                                <p>{{ application.info }}</p>
                            </div>
                        {% elif application.status == 'DECL' %}
                            <div class="alert alert-danger" role="alert">
                                <p>Статус: {{ application.get_status_display }}</p>
                                <p>{{ application.info }}</p>
                            </div>
                        {% endif %}
                        <p><a class="btn btn- btn-success"
                              href="{% url 'company:updateapplicationmanage' application.pk %}">Управлять
                            заявкой</a></p>
                    </div>
                </div>
            {% endfor %}
            <ul class="pagination">


                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">в начало</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page == page_obj.number %}
                        <b class="page-link">{{ page }} </b>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.paginator.num_pages }}">в конец</a></li>
                {% endif %}


            </ul>
        </div>
    </div>
{% endblock %}