{% extends 'base.html' %}
{% load auth_extras %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <br>
            <br>
            {% if request.user|has_group:"owner" %}
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Create">
                </form>
            {% else %}
                <p>You are not allowed to do this</p>
            {% endif %}
        </div>
    </div>
{% endblock %}