{% extends 'base.html' %}
{% load auth_extras %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <ul>
                {% if request.user.workerprofile %}
                    <a class="btn btn-success" href="{% url 'company:manage' %}">Manage your company</a>
                {% endif %}
                <br><br>
                {% for company in company_list %}
                    <li>{{ company.name }}
                        <br>
                        <a class="btn btn-primary" href="{% url 'company:detail' company.pk %}">Details</a>
                        <br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}