{% extends 'base.html' %}
{% load auth_extras %}

{% block title %}Управление компанией{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <ul>
                {% if request.user.workerprofile %}
                    <h3>{{ request.user.workerprofile.company }}</h3>
                    <br>
                    <a class="btn btn-primary" href="{% url 'company:listworkers' %}">Работники вашей компании</a>
                    <br>
                    <br>
                    <a class="btn btn-primary" href="{% url 'company:listwarehouse' %}">Склады вашей компании</a>
                    <br>
                    <br>
                    <a class="btn btn-primary" href="{% url 'company:listtransport' %}">Транспорт вашей компании</a>
                    <br>
                    <br>
                    <a class="btn btn-success" href="{% url 'company:listsending' %}">Отправления вашей компании</a>
                    <br>
                    <br>
                    <a class="btn btn-success" href="{% url 'company:listapplicationmanage' %}">Заявки вашей
                        компании</a>
                {% else %}
                    <p>У вас нет прав для просмотра данной страницы</p>
                {% endif %}

            </ul>
        </div>
    </div>
{% endblock %}