{% extends 'base.html' %}
{% load auth_extras %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <ul>
                {% if request.user|has_group:"owner" %}
                    <h3>{{ request.user.workerprofile.company }}</h3>
                    <br>
                    <a class="btn btn-primary" href="{% url 'company:listworkers' %}">Workers of your company</a>
                    <br>
                    <br>
                    <a class="btn btn-primary" href="{% url 'company:listwarehouse' %}">Warehouses of your company</a>
                    <br>
                    <br>
                    <a class="btn btn-primary" href="{% url 'company:listtransport' %}">Transports of your company</a>
                {% else %}
                    <p>You are not allowed to do this</p>
                {% endif %}

            </ul>
        </div>
    </div>
{% endblock %}