{% extends 'base.html' %}
{% load mathfilters %}
{% load auth_extras %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <ul>
                {% if request.user.workerprofile %}
                    <a class="btn btn-success" href="{% url 'company:addsending' %}">Добавить отправление</a>
                    <br><br>
                    {% for sending in sending_list %}
                        <li>Склад отправления: {{ sending.departure_warehouse }}
                            <br>
                            Дата отправления: {{ sending.departure_date }}
                            <br>
                            Склад прибытия: {{ sending.arrival_warehouse }}
                            <br>
                            Дата прибытия: {{ sending.arrival_date }}
                            <br>
                            Транспорт: {{ sending.transport.get_transport_type_display }}
                            ({{ sending.transport.number }})
                            <br>
                            Общий объём: {{ sending.total_volume }}
                            <br>
                            Свободный объём: {{ sending.free_volume }}
                            <br>
                            Заказы в отправлении:
                            <ol>
                                {% for order in sending.orders.all %}
                                    <li>{{ order.user.last_name }} {{ order.user.first_name }}. {{ order.cargo_volume }}м<sup>3</sup>.
                                        {{ order.cargo_weight }} кг
                                        Стоимость: {{ order.cargo_volume|mul:sending.price_for_m3|floatformat:"2" }}
                                        <a href="{% url 'company:detailordermanage' order.pk %}">Подробнее</a>
                                    </li>
                                {% endfor %}
                            </ol>
                            <a class="btn btn-warning"
                               href="{% url 'company:updatesending' sending.pk %}">Редактировать</a>
                            <a class="btn btn-danger"
                               href="{% url 'company:deletesending' sending.pk %}">Удалить</a>
                            <br><br>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>У вас нет прав для просмотра данной страницы</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}