{% extends 'base.html' %}
{% load mathfilters %}
{% load auth_extras %}

{% block title %}Отправления{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <ul>
                {% if request.user.workerprofile %}
                    <a class="btn btn-success" href="{% url 'company:addsending' %}">Добавить отправление</a>
                    <br><br>
                    {% for sending in sending_list %}
                        <div class="card order-card">
                            <div class="card-header">
                                <h3>Отправление №{{ sending.id }}</h3>
                            </div>
                            <div class="row card-body">
                                <div class="col-1">
                                    <p><span class="material-icons">location_city</span></p>
                                    <p><span class="material-icons">event</span></p>

                                </div>
                                <div class="col-5">
                                    <p><b>Склад
                                        отправления:</b> {{ sending.departure_warehouse }}</p>
                                    <p><b>Дата отправления: </b>{{ sending.departure_date }}</p>

                                </div>
                                <div class="col-1">
                                    <p><span class="material-icons">arrow_forward</span></p>
                                    <p><span class="material-icons">arrow_forward</span></p>

                                </div>

                                <div class="col-5">
                                    <p><b>Склад получения:</b> {{ sending.arrival_warehouse }}</p>
                                    <p><b>Дата прибытия: </b>{{ sending.arrival_date }}</p>

                                </div>
                                <hr>
                                <div class="col-1">
                                    <p><span class="material-icons">local_shipping</span></p>
                                </div>
                                <div class="col-11">
                                    <p><b>Транспорт: </b>{{ sending.transport.get_transport_type_display }}
                                        ({{ sending.transport.number }})</p>
                                </div>
                                <hr>
                                <div class="col-1">
                                    <p><span class="material-icons">view_in_ar</span></p>
                                </div>
                                <div class="col-5">
                                    <p><b>Общий объём: </b>{{ sending.total_volume }}</p>
                                </div>
                                <div class="col-6">
                                    <p><b>Свободный объём: </b>{{ sending.free_volume }}</p>
                                </div>

                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         style="width: {{ sending.free_volume|mul:100|intdiv:sending.total_volume }}%;">
                                        <b>{{ sending.free_volume|div:sending.total_volume|mul:100 }}%</b>
                                    </div>
                                </div>
                                <br><br>
                                <hr>
                                <ul class="list-group">
                                    {% if sending.orders.count > 0 %}
                                        <p class="text-center"><b>Заказы в отправлении:</b></p>
                                        {% for order in sending.orders.all %}
                                            <li class="list-group-item">{{ order.user.last_name }} {{ order.user.first_name }}. {{ order.cargo_volume }}м<sup>3</sup>.
                                                {{ order.cargo_weight }} кг
                                                Стоимость: {{ order.cargo_volume|mul:sending.price_for_m3|floatformat:"2" }}
                                                <a href="{% url 'company:detailordermanage' order.pk %}">Подробнее</a>
                                            </li>
                                            <br>
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-center"><b>Заказов к отправлению нет</b></p>
                                    {% endif %}
                                </ul>
                                <hr>
                                <p>
                                    <a class="btn btn-primary"
                                       href="{% url 'company:sendingdetail' sending.pk %}">Подробнее</a>
                                    <a class="btn btn-warning"
                                       href="{% url 'company:updatesending' sending.pk %}">Редактировать</a>
                                    <a class="btn btn-danger"
                                       href="{% url 'company:deletesending' sending.pk %}">Удалить</a></p>
                                <br><br>
                            </div>
                        </div>
                    {% endfor %}
                    <ul class="pagination">


                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">в начало</a></li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                            </li>
                        {% endif %}

                        {% for page in paginator.page_range %}
                            {% if page == page_obj.number %}
                                <b class="page-link">{{ page }} </b>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}

                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.paginator.num_pages }}">в конец</a></li>
                        {% endif %}


                    </ul>
                {% else %}
                    <p>У вас нет прав для просмотра данной страницы</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}