{% extends 'base.html' %}
{% load auth_extras %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <ul>
                {% if request.user.workerprofile %}
                    <a class="btn btn-success" href="{% url 'company:addtransport' %}">Добавить транспорт</a>
                    <br><br>
                    {% for transport in transport_list %}
                        <li>{{ transport.get_transport_type_display }}
                            <br>
                            {{ transport.number }}

                            <br>
                                <a class="btn btn-warning" href="{% url 'company:updatetransport' transport.pk %}">Редактировать</a>
                                <a class="btn btn-danger" href="{% url 'company:deletetransport' transport.pk %}">Удалить</a>

                            <br><br>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>У вас нет прав для просмотра данной страницы</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}