<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"

            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&amp;amp;subset=cyrillic"
          rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <h2>Создана новая заявка для вашей компании</h2>
        <h4>Для вашего отправления №{{ sending.id }} из {{ sending.departure_warehouse }}
            в {{ sending.arrival_warehouse }}
            появилась новая заявка</h4>

        <p><a href="{{ SITE_URL }}{% url 'company:detailordermanage' order.pk %}"><b>Перейти к заказу</b></a></p>

        <p> Стоимость: {{ application.price }} руб.</p>
        <p>Email заказчика: <a
                href="mailto:{{ application.order.user.email }}">{{ application.order.user.email }} </a></p>
        <br>
        <p><a href="{{ SITE_URL }}{% url 'company:listapplicationmanage' %}"><b>Перейти к заявкам</b></a></p>
    </div>
</div>
</body>
</html>